<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="Host" connectionString="Provider=VFPOLEDB.1;Data Source=D:\VfpToSql\vhost;Collating Sequence=general;DELETED=False;" providerName="System.Data.OleDb" />
    <add name="Pos" connectionString="Provider=VFPOLEDB.1;Data Source=D:\VfpToSql\vpos;Collating Sequence=general;DELETED=False;" providerName="System.Data.OleDb" />
    <add name="Sql" connectionString="Data Source=(local);Initial Catalog=NoRows_22_000211;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>