<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Host" connectionString="Provider=VFPOLEDB.1;Data Source=D:\VfpToSql\vhost;Collating Sequence=general;DELETED=False;" providerName="System.Data.OleDb" />
    <add name="Sql" connectionString="Data Source=(local);Initial Catalog=HostSql;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>