<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--<add name="Host" connectionString="Provider=VFPOLEDB.1;Data Source=D:\VfpToSql\vhost;Collating Sequence=general;" providerName="System.Data.OleDb" />
    <add name="POS" connectionString="Provider=VFPOLEDB.1;Data Source=D:\VfpToSql\vpos;Collating Sequence=general;" providerName="System.Data.OleDb" />
    <add name="Sql" connectionString="Data Source=(local);Initial Catalog=NoRows_22_000211;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Host" connectionString="Provider=VFPOLEDB.1;Data Source=D:\Essex\HostDema;Collating Sequence=general;" providerName="System.Data.OleDb"/>
    <add name="Sql" connectionString="Data Source=(local);Initial Catalog=Essex_22_000211;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>